{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
  <meta http-equiv="Content-Language" content="pl" />
  <meta name="Keywords" content="s³owa, kluczowe, oddzielone, przecinkami" />
  <meta name="Description" content="krótki opis zawarto¶ci strony" />
  <meta name="Robots" content="ALL" />
  <meta name="Author" content="flankerds.com" />
  <link rel="stylesheet" href="{{ SITE_ROOT }}/static/style.css" type="text/css" />
  <title>Darmowy Szablon</title>
</head>

<body>
<div id="kontener">
<div id="naglowek"></div>
<div id="menu">
 <a href="{% url 'base' %}">Strona Główna</a>
 <a href="{% url 'dodajwpis' %}">Dodaj wpis</a>
 <a href="{% url 'wyloguj' %}">Wyloguj się</a>
 <a href="{% url 'zaloguj' %}">Zaloguj się</a>
 <a href="{% url 'zarejestruj' %}">Zarejestruj się</a>
</div>
	
<div id="tytul">
      <h3>{% block title %}{% endblock %}</h3>
</div>
<div id="tresc">
{% block content %}{% endblock %}
</div>
<div id="podpis"><p></p></div>

<div id="stopka">
<div id="copyright"></div>
<div id="design"></div>
</div>
</div>    
</body>
</html>
