{% extends "base.html" %}
{% block content %}

<form action="{% url 'dodawaniewpisu' %}" method="POST" method="post">
{% csrf_token %}
wpis<br/>
<textarea rows="4" cols="50" name="text">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
</textarea>
<button type="submit">Dodaj wpis</button>
</form>
{% endblock %}
