{% extends "base.html" %}
{% block title %}Wpisy{% endblock %}
{% block content %}
<p style="color:red"><b>{{ info }}</b></p>
{% for wpis in wpisy %}
text: {{ wpis.text }}<br/>
autor: {{ wpis.author }}<br/>
publikacja: {{ wpis.pub_date }}<br/>
<hr/>
{% endfor %}
{% endblock %}
