{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<form action="{% url 'logowanie' %}" method="post">
            {% csrf_token %}
            <p style="color:red"><b>{{ info }}</b></p>
            <p>
                Login: <input type="text" name="login" id="login" maxlength="30"/>
            </p>
            <p>
                Hasło: <input type="password" name="password" id="password" maxlength="30"/>
            </p>
            <input type="submit" value="Zaloguj" />
        </form>
{% endblock %}


