{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<form action="{% url 'rejestracja' %}" method="post">
            {% csrf_token %}
            <p style="color:red"><b>{{ info }}</b></p>
            <p>
                Login: <input type="text" name="user_name" id="user_name" maxlength="30" />
            </p>
            <p>
                Hasło: <input type="password" name="user_password" id="user_password" maxlength="30" />
            </p>
            <p>
                reHasło: <input type="password" name="user_password1" id="user_password" maxlength="30" />
            </p>
            <p>
                <input type="submit" value="Zarejestruj" />
            </p>
        </form>
{% endblock %}


