body {
		background: url(images/tlo.jpg) repeat;
        background-color: #3b4113;
		margin-top:0px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;
		width:780px;
		list-style: none;
    }

div {
        font: verdana 12px #000;
        position:relative;
    }
a {
		text-decoration: none;
	}
#kontener {
width:780px;
height:100%;
border-left:solid #34381d 2px;
border-right:solid #34381d 2px;
background:#6a7330;
}
#naglowek {
        background: #fff url(images/logo.jpg) no-repeat;
        width:780px;
        height:253px;
    }
#menu {
        background: #fff url(images/menu.jpg) no-repeat;
        width:780px;
        height:44px;
		margin-top:-16px;
	}
#menu a {
		display: block;
		padding: 0px 26px 24px 24px;
		color:#f7f7f7;
		margin-top:8px;
		float: left;
		text-align:center;
		font-weight: bold;
	}
#menu a:hover {
		margin-top:8px;
		color:#f7f7f7;
	}
#tytul {
        background: #fff url(images/tytul.jpg) no-repeat;
		width:641px;
		height:56px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		text-align:center;
	}
#tytul h3 {
		padding-top:15px;
}
#tresc {
        background: #fff url(images/tlo_tekst.jpg) repeat;
        width:601px;
		height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;
		padding-left: 20px;
		padding-right: 20px;
	}
#tresc a {
		width:500px;
		color:#000000;
		text-decoration:underline;
}
#tresc h2 {
		text-indent:7px;
		padding-top:15px;
        font-size: 17px;
		color: #3b4113;
		line-height: 150%;
		padding-left:15px;
		margin-top:0px;
	}
#tresc p {
		margin: 0 0 8px 0;
		text-indent: 15px;
		text-align: justify;
		margin-left:15px;
		margin-right:15px;
		padding-bottom:4px;
		font-size:12px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
#podpis {
		background: url(images/podpis.jpg) no-repeat;
		width:641px;
		height:56px;
		margin-left:auto;
		margin-right:auto;
		margin-top:-16px;
		margin-bottom:20px;
	}
#podpis p {
		text-align:right;
		margin-right:15px;
		padding-top:25px;
		font-size:11px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
}
#stopka {
        background: #f2f2f0 url(images/stopka.jpg) no-repeat;
        clear:both;
		font-size:11px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		height:29px;
		color:#FFFFFF;
	}
#stopka a {
		color: #FFFFFF;
	}
#stopka a:hover {
		text-decoration:underline;
	}
#copyright {
		float:left;
		padding-left:340px;
		padding-top:10px;
	}
#design {
		float:right;
		padding-right:10px;
		padding-top:10px;
}
